## Data Management - Labo 5

### Exercise 3 - Data cleaning

You are responsible for managing a branch that oversees multiple shops located in various cities. However, the company has encountered an issue with how their files are stored. The data comes from different cloud services, resulting in datasets being saved in various file formats.

Your task is to clean and standardize all the datasets, then merge them into a single, unified dataset.

In [19]:
import pandas as pd
import sqlite3

In [3]:
# DataFrame columns
column_names = ['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date', 'Street Address', 'City', 'State']

# Files
data_folder = "data/shops/"
shop1_file = data_folder + 'Shop1.csv'
shop2_file = data_folder + 'Shop2.xlsx'
shop3_file = data_folder + 'Shop3.json'
shop4_file = data_folder + 'Shop4.xml'
shop5_file = data_folder + 'Shop5.parquet'
shop6_file = data_folder + 'Shop6.db'

<p style='color:red;font-weight:bold'>Exercise 3.1 : </p>

The first dataset doesn't seem to have any issue. Explore the dataset and then answer to the following questions :
1. Why does the following code `len(df_shop1['Order ID'].unique()) == len(df_shop1)` returns `False` ?
2. In average, what is the price of an order ? Write the code using the `DataFrame` without adding any new variables or any loop (`for`, `while`, ...).

In [4]:
df_shop1 = pd.read_csv(shop1_file)
df_shop1

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street Address,City,State
0,182428,Bose SoundSport Headphones,1,99.99,2022-01-18 12:04:00,713 Washington St,Los Angeles,CA
1,182431,Wired Headphones,2,11.99,2022-01-02 15:11:00,84 1st St,Portland,ME
2,182432,27in FHD Monitor,1,149.99,2022-01-30 13:46:00,982 Main St,Boston,MA
3,182435,Apple Airpods Headphones,1,150.00,2022-01-22 15:14:00,155 Hill St,Seattle,WA
4,182444,34in Ultrawide Monitor,1,379.99,2022-01-01 22:36:00,519 Chestnut St,Boston,MA
...,...,...,...,...,...,...,...,...
24232,336451,Apple Airpods Headphones,1,150.00,2022-12-13 20:50:00,789 Adams St,Seattle,WA
24233,336453,AA Batteries (4-pack),2,3.84,2022-12-03 20:18:00,564 4th St,San Francisco,CA
24234,336459,USB-C Charging Cable,2,11.95,2022-12-30 09:23:00,714 Elm St,Los Angeles,CA
24235,336462,Bose SoundSport Headphones,1,99.99,2022-12-19 17:58:00,124 Church St,San Francisco,CA
24236,336465,Apple Airpods Headphones,1,150.00,2022-12-05 17:38:00,445 Cedar St,Austin,TX

In [5]:
len(df_shop1['Order ID'].unique()) == len(df_shop1)

False

*(1) TODO: Answer here*

In [6]:
#(2) TODO write the code here

<p style='color:red;font-weight:bold'>Exercise 3.2 : </p>

The second dataset contains rows that are completly `NaN`, we ask you to remove them.

In [8]:
df_shop2 = pd.read_excel(shop2_file)
display(df_shop2)

# TODO

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street Address,City,State
0,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
1,182422.0,Lightning Charging Cable,1.0,15.0,2022-01-18 20:01:00,307 Willow St,Seattle,WA
2,182424.0,AA Batteries (4-pack),4.0,4.0,2022-01-07 17:32:00,951 Pine St,Atlanta,GA
3,182426.0,USB-C Charging Cable,2.0,11.0,2022-01-04 12:51:00,336 Main St,Portland,OR
4,182429.0,Google Phone,1.0,650.0,2022-01-31 22:22:00,762 North St,Boston,MA
...,...,...,...,...,...,...,...,...
34825,336446.0,AA Batteries (4-pack),2.0,4.0,2022-12-10 21:46:00,520 Main St,Portland,OR
34826,336447.0,Wired Headphones,1.0,12.0,2022-12-27 11:07:00,341 Lake St,Portland,OR
34827,336448.0,AA Batteries (4-pack),4.0,4.0,2022-12-10 21:09:00,739 South St,San Francisco,CA
34828,336450.0,Google Phone,1.0,650.0,2022-12-08 09:46:00,704 Walnut St,New York City,NY
34829,336457.0,Lightning Charging Cable,2.0,15.0,2022-12-31 15:35:00,925 Chestnut St,San Francisco,CA

<p style='color:red;font-weight:bold'>Exercise 3.3 : </p>

The third dataset contains weird rows with the same values as the header. We also want to have the same format date than previous datasets.

*PS: You should not have any Warnings*

In [10]:
df_shop3 = pd.read_json(shop3_file, orient='split')
display(df_shop3)

# TODO

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street Address,City,State
0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street Address,City,State
1,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street Address,City,State
2,182446,USB-C Charging Cable,1,11.99,01/18/22 21:12,222 Highland St,Atlanta,GA
3,182447,AA Batteries (4-pack),2,3.99,01/08/22 22:18,457 6th St,Dallas,TX
4,182448,Google Phone,1,599.99,01/22/22 12:10,271 Cedar St,San Francisco,CA
...,...,...,...,...,...,...,...,...
29269,336431,AAA Batteries (4-pack),4,2.99,12/16/22 12:38,970 13th St,San Francisco,CA
29270,336442,Wired Headphones,1,11.99,12/18/22 16:29,848 Johnson St,Portland,ME
29271,336444,AAA Batteries (4-pack),2,2.99,12/05/22 13:44,589 5th St,Portland,ME
29272,336455,Wired Headphones,1,11.99,12/06/22 14:15,357 Highland St,New York City,NY
29273,336456,Wired Headphones,2,11.99,12/11/22 21:54,996 Spruce St,San Francisco,CA

<p style='color:red;font-weight:bold'>Exercise 3.4 : </p>

For the 4th dataset fix the following issues:
* This format doesn't support spaces in their header names. We ask you to change them back to the same than previous shops.
* The address is all contained in a single column `purchaseAddress`, transform it to obtain the same result as previous datasets.
* Remove all columns that are not in the other datasets.

In [12]:
df_shop4 = pd.read_xml(shop4_file)
display(df_shop4)

# TODO

,orderId,product,quantityOrdered,priceEach,orderDate,purchaseAddress,processedBy
0,182437,Google Phone,1,649.00,2022-01-18 18:58:00,"34 5th St, Los Angeles, CA",Carol
1,182437,USB-C Charging Cable,2,13.99,2022-01-18 18:58:00,"34 5th St, Los Angeles, CA",Carol
2,182442,Wired Headphones,2,13.99,2022-01-21 20:28:00,"282 Washington St, Seattle, WA",Carol
3,182452,USB-C Charging Cable,2,13.99,2022-01-12 09:28:00,"171 Washington St, Los Angeles, CA",Joe
4,182458,AAA Batteries (4-pack),2,3.99,2022-01-20 17:13:00,"234 Highland St, Los Angeles, CA",James
...,...,...,...,...,...,...,...
19433,336443,20in Monitor,1,129.00,2022-12-09 12:38:00,"831 West St, San Francisco, CA",Carol
19434,336445,USB-C Charging Cable,1,13.99,2022-12-20 10:42:00,"194 14th St, Dallas, TX",Carol
19435,336449,20in Monitor,1,129.00,2022-12-06 20:20:00,"505 Cedar St, Atlanta, GA",Carol
19436,336454,AAA Batteries (4-pack),1,3.99,2022-12-11 21:05:00,"429 South St, Dallas, TX",Anna
19437,336461,Lightning Charging Cable,1,16.99,2022-12-06 23:51:00,"955 Wilson St, Dallas, TX",Carol

<p style='color:red;font-weight:bold'>Exercise 3.5 : </p>

The fifth dataset uses *Apache Parquet* file format. Some orders have incoherent values (`0.00`) for the column `Price each`.
Your task is to replace it with the prices from other orders as they're all equal for the same product in the shop. (For example if the price is `0.00` for an iPhone, you need to find the price in the same shop of an `iPhone` that is not equal to `0.00`).

In [17]:
df_shop5 = pd.read_parquet(shop5_file)
display(df_shop5)

# TODO

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Street Address,City,State
0,182427,AA Batteries (4-pack),4,0.00,2022-01-24 01:36:00,2 Maple St,Dallas,TX
1,182430,AAA Batteries (4-pack),8,2.49,2022-01-20 22:04:00,10 Lake St,Boston,MA
2,182455,ThinkPad Laptop,1,959.00,2022-01-23 19:01:00,169 Center St,Boston,MA
3,182456,27in 4K Gaming Monitor,1,379.99,2022-01-09 13:51:00,649 South St,Atlanta,GA
4,182467,Flatscreen TV,1,299.00,2022-01-24 11:22:00,890 Maple St,Los Angeles,CA
...,...,...,...,...,...,...,...,...
38803,336433,34in Ultrawide Monitor,1,369.99,2022-12-07 16:42:00,718 Jefferson St,Seattle,WA
38804,336434,Wired Headphones,2,11.49,2022-12-17 16:40:00,664 7th St,Portland,OR
38805,336435,AAA Batteries (4-pack),1,2.49,2022-12-30 16:44:00,780 Lakeview St,Seattle,WA
38806,336439,34in Ultrawide Monitor,1,369.99,2022-12-24 11:59:00,338 2nd St,New York City,NY
38807,336460,USB-C Charging Cable,2,11.49,2022-12-20 13:11:00,173 Center St,New York City,NY

<p style='color:red;font-weight:bold'>Exercise 3.6 : </p>

For the last dataset, change the name of the headers to respect the same names than previous shops.
The column `Quantity Ordered` is missing, you need to fill it by searching the median per product of **all** other shops (concatenate all shops in a single `DataFrame`).
Lastly, the final concatenated `DataFrame` needs to have correct types for each columns.

In [35]:
cnx = sqlite3.connect(shop6_file)
df_shop6 = pd.read_sql_query("SELECT * FROM sales", cnx)
display(df_shop6)

# TODO

,orderId,product,priceEach,orderDate,streetAddress,city,state
0,182421,USB-C Charging Cable,11.99,2022-01-11 05:05:00,184 Washington St,Boston,MA
1,182423,34in Ultrawide Monitor,399.99,2022-01-29 13:12:00,16 10th St,Seattle,WA
2,182425,Lightning Charging Cable,14.99,2022-01-08 12:22:00,232 Highland St,Los Angeles,CA
3,182438,Lightning Charging Cable,14.99,2022-01-17 10:10:00,556 Spruce St,Los Angeles,CA
4,182441,34in Ultrawide Monitor,399.99,2022-01-09 22:45:00,576 Adams St,Atlanta,GA
...,...,...,...,...,...,...,...
14712,336452,iPhone,719.99,2022-12-17 22:04:00,77 6th St,Austin,TX
14713,336458,Wired Headphones,14.99,2022-12-21 13:01:00,801 Dogwood St,Los Angeles,CA
14714,336463,Bose SoundSport Headphones,99.99,2022-12-22 12:26:00,828 6th St,New York City,NY
14715,336464,USB-C Charging Cable,11.99,2022-12-11 19:11:00,87 West St,Los Angeles,CA
14716,336466,Lightning Charging Cable,14.99,2022-12-20 22:15:00,688 Adams St,Atlanta,GA